body {
    display: flex;
    justify-content: center; /* centro horizontal */
    align-items: center;     /* centro vertical */
    height: 100vh;           /* altura da tela */
    margin: 0;
    background-image: url("https://wallpapercave.com/wp/wp9376183.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: rgba(0, 0, 0, 0.6); /* fundo escuro transparente */
    padding: 20px 40px;
    border-radius: 10px;
}

.titulo {
    font-size: 3rem;
    color: #ffffff;
}

h2 {
    font-size: 40px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

.rodape {
    position: fixed;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    font-family: Arial, Helvetica, sans-serif;
    background: none;
    color: #ffffff;
    font-size: 1rem;
    text-shadow: 2px 2px 6px rgba(0,0,0,0.7);
}